<div class="container georg-serif">
  <div class = "media-header">
    <h3>a portfolio haiku</h3>
    <body class="media-body text-center">
      a portfolio</br>
      is to but glimpse a person</br>
      so please do not blink.</br>
    </body>
  </div>
</div>
