<div class="container col-md-8 col-md-offset-2">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Short Form Personal Statement
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
      aria-labelledby="headingOne">
        <div class="panel-body">
          Proven to exceed expectations in diverse situations.
          At my best when I am outside of my comfort zone and in uncharted territory.
          I combine the aspects of a person who has the tenacity to complete a half-ironman,
          the thoughtfulness of a philosopher, and the brashness of someone who used
          to jump from airplanes to relax.</br>
          Recently made the choice to take more control of my trajectory in life by learning
          Ruby and Web Development.
          When you jump off a cliff, you only need to worry about the landing if you intend to fall.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
          href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Long Form Personal Statement
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
      aria-labelledby="headingTwo">
        <div class="panel-body">
          Every now and then I need a new challenge. If I can’t find it where I am,
          I seek one out. Learning Ruby on Rails marks the start of my next set of challenges.
          THIS SENTENCE I have switched careers to seek satisfaction by working on projects
          that affect large audiences, all the while learning more to increase my depth of
          knowledge. A little javascript, perhaps? Maybe a deep dive on SQL?</br></br>
          A long path begins with a single step, and that is where I currently am.
          I seek to further develop my skills through practical application. Real problems
          and real responsibilities are by far the best teachers. Once I am a strong
          contributor as a web developer, my desire is to lead development teams. I have
          seen the benefits first hand of tackling large problems as a team that doing so
          will always be a part of my goals.</br></br>
          My long term interests lie in the inevitable collision of robotics and the web.
          Research and creation in the robotics field is on the verge of something great,
          and I believe that the next wave of engineering needs will involve development
          teams that understand both web development and robotics programming.</br></br>
          In addition to my experience as a leader with Apple and what I learned as a
          graduate instructor of biomedical ethics, there are a few experiences that
          have shaped who I am that I would like to share.</br></br>
          I have been solo on stages in front of hundreds. As a result, public speaking
          and presentations are well within my comfort zone. If it is required, I can
          write code one day and present it to a team or client the next.</br></br>
          Jumping from airplanes a hundred times teaches some perspective. In addition
          to the pure exhilaration of jumping, I have encountered an emergency situation
          while jumping that has made it nearly impossible for me to experience panic in
          other situations.</br></br>
          Training for both a marathon and half-ironman are tests in both physical and
          mental endurance. A half-ironman requires daily training and dietary requirements
          for months. I have learned how discipline and persistence can overcome challenges
          that seem insurmountable.</br></br>
          In closing, I enjoy being challenged and perform my best when my capabilities are
          pushed. Using my skill and experience to contribute and support a team are my most
          rewarding experiences, and I hope to find new and greater ways to do so over time.</br>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Resume
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          The resume. A necessary but limited view of a person.
          Feel free to take a copy for review at your liesure. </br>
          Resume Link
        </div>
      </div>
    </div>
  </div>
</div>
